[Match]
Name=br0

[Network]
Address=192.168.1.1/24
DHCPServer=ipv4
IPForward=yes
IPMasquerade=yes


[DHCPServer]
ServerAddress=192.168.1.1/24
PoolOffset=100
PoolSize=150


[DHCPv4]
UseDomains=yes

#[DHCPPrefixDelegation]
#UplinkInterface=enp0s25
#SubnetId=1
#Announce=yes
